
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#searchBarForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.songSearchField {
    height: 40px;
    width: 700px;
    border: none;
    border-radius: 40px;
    cursor: auto;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 20px;
    background-color: #D8E7B7;
    outline: none;
}
.songSearchField::placeholder {
    text-align: center;
    font-size: 20px;
  font-family: "Anta", sans-serif;
    color: #2AAB41;
}

#songSearchSubmit {
        width: 50px;
        height: 50px;
        margin-left: -30px;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #134B1D;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        padding: 10px;

}
#songSearchSubmitSVG {
    color: #2AAB41;
    width: 100%;
    height: 100%;
}

#songSearchSubmit:hover {
    padding: 4px;
    transition: all 0.5s;
}
#songSearchSubmit:active {
    background-color: #2AAB41;
}