#resultsCON {
    width: 500px;
  }
  
/*   .getBor {
    border: 2px solid orange;
}  */

  #resultsCON h2 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #134B1D;
  }

  @media only screen and (max-width: 1020px) {
    #resultsCON {
      width: 350px;
    }
  }
  
   @media only screen and (max-width: 730px) {
    #resultsCON {
      width: 95%;
    }
  } 
  
