

/* .getBor {
  border: 2px solid orange;
}   */




#playlistCON {
    width: 500px;
    text-align: center;
  }
  
  #playlistName {
    width: 100%;
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 40px;
    cursor: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    outline: none;
    font-family: "Anta", sans-serif;
    color: #134B1D;
    text-align: center;
  }
  
  #playlistName::placeholder {
    text-align: center;
    color: #134B1D;
    opacity: 0.6;
  }

  #savePlaylist {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color:#000;
    border: none;
    font-family: "Anta", sans-serif;
    font-size: 18px;
    cursor: pointer;
    color: #2aab41;
    margin-bottom: 30px;
  
  }


  @media only screen and (max-width: 1020px) {
    #playlistCON {
      width: 350px;
    }
  }
  
   @media only screen and (max-width: 730px) {
    #playlistCON {
      width: 95%;
      margin-top: 100px;
    }
    #playlistName {
      font-size: 20px;
    }
  } 